body {
}

header {
    margin-top: 20px;
    padding: 20px 10px 40px 10px;
    /*background: #ffffff url('../image/header.jpg');*/
}

.container-border {
    box-shadow: 0 0 4px black;
    margin: 20px auto;
    background-color: white;
}

h1 {
    font-size: 90px;
    color: white;
    text-shadow: 1px 1px 4px black;
    margin-bottom: 40px;
}

#search-text {
    color: white;
    text-shadow: 0.5px 0.5px 4px black;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 7px;
}

h2 {
    color: #6E7EF9;
    font: bold 50px arial;
}

h3 {
    /*color: orange;*/
    font: bold 30px arial;
}

legend {
    padding: 10px 10px 0 10px;
    margin-bottom: 5px;
    color: palevioletred;
    font: bold 16px arial;
    border-bottom: 0;
}

button, #search-group {
    margin-bottom: 8px !important;
}

article {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px dashed gray;
    height: 150px;
    overflow: hidden;
    -webkit-animation: test 1.5s;
    -moz-animation: test 1.5s;
    -ms-animation: test 1.5s;
    -o-animation: test 1.5s;
    animation: test 1.5s;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

    article:hover {
        height: 250px;
        min-height: 150px;
    }

img {
    height: 150px;
    border-radius: 10px;
}

.price {
    color: orange;
    font: bold 20px arial;
}

@-moz-keyframes test {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes test {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes test {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}
