body {
}

header {
    margin-top: 20px;
    padding: 20px 10px 40px 10px ;
    /*background: #ffffff url('../image/header.jpg');*/
}
.container-border {
    box-shadow: 0 0 4px black;
    margin: 20px auto;
    background-color: white;
}
h1 {
    font-size: 90px;
    color: white;
    text-shadow: 1px 1px 4px black;
    margin-bottom: 40px;
}
.search-control {
    display: inline;
}
article {
    padding: 10px 20px;
    margin-bottom: 10px; 
    border-bottom: 1px dotted gray;
    height: 200px;
    overflow: hidden;
}

img {
    width: 200px;
    border-radius: 10px;
}
