body {
}

header {
    margin-top: 20px;
    padding: 20px 10px 40px 10px ;
    background: #ffffff url('../image/header.jpg');
}
.container-border {
    box-shadow: 0 0 4px black;
    margin: 20px auto;
    background-color: white;
}
h1 {
    font-size: 90px;
    color: white;
    text-shadow: 1px 1px 4px black;
    margin-bottom: 40px;
}
.search-control {
    display: inline;
}
article {
    padding: 10px 20px;
    margin-bottom: 10px; 
    border-bottom: 1px dotted gray;
    height: 150px;
    overflow: hidden;
    -webkit-animation: test 1.5s;
    -moz-animation: test 1.5s;
    -ms-animation: test 1.5s;
    -o-animation: test 1.5s;
    animation: test 1.5s;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

article:hover {
    height: 250px;
    min-height: 150px;
}

img {
    height: 150px;
    border-radius: 10px;
}
@-moz-keyframes test {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes test {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes test {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
